# JSON und CRUD Operationen

## JSON (JavaScript Object Notation)

### Was ist JSON?
- JSON ist ein leichtgewichtiges Datenformat, das einfach lesbar ist und auf Key-Value-Paaren basiert.
- Es ist textbasiert und wird häufig in Webanwendungen verwendet, um Daten zwischen Servern und Clients zu übertragen.
- JSON wird von fast allen Programmiersprachen unterstützt, einschließlich Python, JavaScript, Java und vielen anderen.

### Eigenschaften von JSON
1. Einfacher Aufbau:
   - JSON-Dokumente bestehen aus Key-Value-Paaren, wobei der Key ein String und der Value entweder ein String, eine Zahl, ein Array, ein Objekt, ein Boolean (true, false) oder null ist.

2. Flexibilität:
    - JSON unterstützt verschachtelte Datenstrukturen, sodass komplexe Objekte leicht modelliert werden können.

3. Weit verbreitet:
   - JSON ist der De-facto-Standard für Datenübertragung in RESTful APIs.

### Einfaches JSON-Objekt
```json
{
    "name": "Alice",
    "age": 30,
    "email": "alice@example.com"
}
```
`name`, `age` und `email` sind Keys. Ihre jeweiligen Werte sind Strings oder Zahlen

### Verschachteltes JSON-Objekt
```json
{
    "name": "Alice",
    "age": 30,
    "address": {
        "street": "123 Main St",
        "city": "Wonderland",
        "zip": "12345"
    }
}
```
Der Key `address` enthält als Value ein weiteres Objekt mit den Keys `street`, `city`, und `zip`

### JSON-Array
```json
[
  {
    "name": "Alice",
    "age": 30
  },
  {
    "name": "Bob",
    "age": 25
  }
]
```
Das gesamt JSON ist ein Array (Liste), welches zwei Objekte enthält

### JSON in Python
- mit dem Modul `json`.
- Umwandlung von einem Python-Objekt in JSON wird Serialisierung genannt
- Umwandlung JSON in ein Python-Objekt (meistens ein Dict) wird Deserialisierung genannt.

#### Serialisierung - Umwandlung eines Dicts in ein JSON

In [6]:
import json

# Einfaches Dictionary serialisieren
data = {'name': 'Eric', 'age': 30, 'human': True}
json_data = json.dumps(data)
json_data

'{"name": "Eric", "age": 30, "human": true}'

In [12]:
# Verschachteltes Python Objekt
nested_data = {
    "user": {
        "name": "Kelso",
        "age": 34,
        "hobbies": ["reading", "cycling"]
    }
}
json_data = json.dumps(nested_data, indent=4)
print(json_data)

{
    "user": {
        "name": "Kelso",
        "age": 34,
        "hobbies": [
            "reading",
            "cycling"
        ]
    }
}

In [17]:
# Serilisieren eine Instanz-Objektes einer Klasse
class User:
    def __init__(self, name, age):
        self.name = name
        self.age = age

user_1 = User("Hyde", 33)

user_1_dict = user_1.__dict__
print("Dictionary:", user_1_dict)

json_data = json.dumps(user_1_dict)
print("JSON:", json_data)

Dictionary: {'name': 'Hyde', 'age': 33}
JSON: {"name": "Hyde", "age": 33}

In [18]:
# Best Practice im Umgang mit Instanz-Objekten und deren Serialisierung
class User:
    def __init__(self, name, age):
        self.name = name
        self.age = age

user_1 = User("Donna", 33)

# Eine Funktion um aus einem Instanzobjekt ein Serialisierbares Python-Dictionary zu erstellen
def user_to_dict(obj):
    return obj.__dict__
    # return {"name": obj.name, "age": obj.age}

json_data = json.dumps(user_1, default=user_to_dict)
print(json_data)

{"name": "Donna", "age": 33}

In [19]:
json_data.keys()

AttributeError: 'str' object has no attribute 'keys'

In [20]:
stringy = "5"

not_stringy_anymore = int(stringy)

type(stringy)

str

In [21]:
type(not_stringy_anymore)

int

In [23]:
# Liste von Dictionaries umwandlen in JSON
users = [
    {'name': 'Alice', 'age': 30},
    {"name": "Bob's", "age": 25}
]
json_data = json.dumps(users, indent=2)
print(json_data)

[
  {
    "name": "Alice",
    "age": 30
  },
  {
    "name": "Bob's",
    "age": 25
  }
]

In [25]:
albert = {
    "name": "Albert Einstein",
    "Quote": 'Albert Einstein sagte einst: "Die größte Macht im Universum ist der Zinseszins"'
}
json_albert = json.dumps(albert)
print(json_albert)

{"name": "Albert Einstein", "Quote": "Albert Einstein sagte einst: \"Die gr\u00f6\u00dfte Macht im Universum ist der Zinseszins\""}

#### Deserialisierung - Umwandlung eines JSON in ein Python Dict

In [28]:
json_data = '''
{
    "user": {
        "name": "Alice",
        "age": 30,
        "hobbies": ["reading", "cycling"]
    }
}
'''

data = json.loads(json_data)
print(data)
data.items()

{'user': {'name': 'Alice', 'age': 30, 'hobbies': ['reading', 'cycling']}}

dict_items([('user', {'name': 'Alice', 'age': 30, 'hobbies': ['reading', 'cycling']})])

mit `json.loads(json)` wandle ich ein textbasiertes JSON Objekt in ein Python Dictionary um!

In [29]:
# Liste aus JSON-Daten verarbeiten
json_data = '[{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}]'
data = json.loads(json_data)
data

[{'name': 'Alice', 'age': 30}, {'name': 'Bob', 'age': 25}]

In [30]:
data[0]['name']

'Alice'

In [31]:
import requests

In [32]:
url = "https://v6.exchangerate-api.com/v6/55d50301c8add778a9ca4369/latest/EUR"
response = requests.get(url)

In [34]:
response.text.keys()

AttributeError: 'str' object has no attribute 'keys'

In [41]:
data = json.loads(response.text)
print(type(data))
data

<class 'dict'>

{'result': 'success',
 'documentation': 'https://www.exchangerate-api.com/docs',
 'terms_of_use': 'https://www.exchangerate-api.com/terms',
 'time_last_update_unix': 1737417602,
 'time_last_update_utc': 'Tue, 21 Jan 2025 00:00:02 +0000',
 'time_next_update_unix': 1737504002,
 'time_next_update_utc': 'Wed, 22 Jan 2025 00:00:02 +0000',
 'base_code': 'EUR',
 'conversion_rates': {'EUR': 1,
  'AED': 3.8173,
  'AFN': 75.6385,
  'ALL': 98.3988,
  'AMD': 411.5693,
  'ANG': 1.8606,
  'AOA': 963.7038,
  'ARS': 1086.4544,
  'AUD': 1.6606,
  'AWG': 1.8606,
  'AZN': 1.7531,
  'BAM': 1.9558,
  'BBD': 2.0788,
  'BDT': 125.8029,
  'BGN': 1.9558,
  'BHD': 0.3908,
  'BIF': 3019.0963,
  'BMD': 1.0394,
  'BND': 1.4106,
  'BOB': 7.1333,
  'BRL': 6.2756,
  'BSD': 1.0394,
  'BTN': 89.3974,
  'BWP': 14.4349,
  'BYN': 3.4497,
  'BZD': 2.0788,
  'CAD': 1.49,
  'CDF': 2943.3148,
  'CHF': 0.9438,
  'CLP': 1038.818,
  'CNY': 7.5602,
  'COP': 4476.3608,
  'CRC': 517.6666,
  'CUP': 24.9461,
  'CVE': 110.265,
  'CZK': 25.2101,
  'DJF': 184.7269,
  'DKK': 7.4588,
  'DOP': 63.2243,
  'DZD': 139.8812,
  'EGP': 51.893,
  'ERN': 15.5913,
  'ETB': 131.6265,
  'FJD': 2.3961,
  'FKP': 0.8453,
  'FOK': 7.4607,
  'GBP': 0.8453,
  'GEL': 2.9329,
  'GGP': 0.8453,
  'GHS': 15.7094,
  'GIP': 0.8453,
  'GMD': 75.0923,
  'GNF': 8919.983,
  'GTQ': 7.9542,
  'GYD': 215.5105,
  'HKD': 8.084,
  'HNL': 26.2173,
  'HRK': 7.5345,
  'HTG': 134.5231,
  'HUF': 411.8743,
  'IDR': 16947.6042,
  'ILS': 3.7069,
  'IMP': 0.8453,
  'INR': 89.4022,
  'IQD': 1352.6723,
  'IRR': 43906.1391,
  'ISK': 145.6416,
  'JEP': 0.8453,
  'JMD': 162.8374,
  'JOD': 0.7369,
  'JPY': 161.7395,
  'KES': 133.8597,
  'KGS': 90.1867,
  'KHR': 4182.6053,
  'KID': 1.6608,
  'KMF': 491.9678,
  'KRW': 1497.7876,
  'KWD': 0.3191,
  'KYD': 0.8662,
  'KZT': 548.507,
  'LAK': 22600.3648,
  'LBP': 93028.1464,
  'LKR': 305.7503,
  'LRD': 195.7964,
  'LSL': 19.3048,
  'LYD': 5.1073,
  'MAD': 10.3902,
  'MDL': 19.3882,
  'MGA': 4726.1721,
  'MKD': 61.56,
  'MMK': 2957.7529,
  'MNT': 3566.2002,
  'MOP': 8.3262,
  'MRU': 41.1333,
  'MUR': 48.288,
  'MVR': 15.9028,
  'MWK': 1805.4125,
  'MXN': 21.3731,
  'MYR': 4.6336,
  'MZN': 66.2577,
  'NAD': 19.3048,
  'NGN': 1607.0464,
  'NIO': 37.9227,
  'NOK': 11.7699,
  'NPR': 143.0358,
  'NZD': 1.8369,
  'OMR': 0.3997,
  'PAB': 1.0394,
  'PEN': 3.8757,
  'PGK': 4.178,
  'PHP': 60.3421,
  'PKR': 289.4763,
  'PLN': 4.2536,
  'PYG': 8137.4339,
  'QAR': 3.7835,
  'RON': 4.9768,
  'RSD': 117.1226,
  'RUB': 105.3571,
  'RWF': 1469.3036,
  'SAR': 3.8978,
  'SBD': 8.7923,
  'SCR': 14.9919,
  'SDG': 460.6928,
  'SEK': 11.4796,
  'SGD': 1.4107,
  'SHP': 0.8453,
  'SLE': 23.6164,
  'SLL': 23617.0706,
  'SOS': 588.663,
  'SRD': 36.2213,
  'SSP': 4232.0823,
  'STN': 24.5,
  'SYP': 13319.222,
  'SZL': 19.3048,
  'THB': 35.4955,
  'TJS': 11.2849,
  'TMT': 3.6104,
  'TND': 3.3241,
  'TOP': 2.4868,
  'TRY': 36.9723,
  'TTD': 7.3304,
  'TVD': 1.6608,
  'TWD': 33.8311,
  'TZS': 2621.5119,
  'UAH': 43.5168,
  'UGX': 3804.0308,
  'USD': 1.0395,
  'UYU': 45.4056,
  'UZS': 13347.4599,
  'VES': 57.3155,
  'VND': 26381.6219,
  'VUV': 123.9839,
  'WST': 2.9158,
  'XAF': 655.957,
  'XCD': 2.8064,
  'XDR': 0.794,
  'XOF': 655.957,
  'XPF': 119.332,
  'YER': 256.4789,
  'ZAR': 19.3041,
  'ZMW': 28.9181,
  'ZWL': 27.0782}}

In [38]:
data.keys()

dict_keys(['result', 'documentation', 'terms_of_use', 'time_last_update_unix', 'time_last_update_utc', 'time_next_update_unix', 'time_next_update_utc', 'base_code', 'conversion_rates'])

In [39]:
data["conversion_rates"].keys()

dict_keys(['EUR', 'AED', 'AFN', 'ALL', 'AMD', 'ANG', 'AOA', 'ARS', 'AUD', 'AWG', 'AZN', 'BAM', 'BBD', 'BDT', 'BGN', 'BHD', 'BIF', 'BMD', 'BND', 'BOB', 'BRL', 'BSD', 'BTN', 'BWP', 'BYN', 'BZD', 'CAD', 'CDF', 'CHF', 'CLP', 'CNY', 'COP', 'CRC', 'CUP', 'CVE', 'CZK', 'DJF', 'DKK', 'DOP', 'DZD', 'EGP', 'ERN', 'ETB', 'FJD', 'FKP', 'FOK', 'GBP', 'GEL', 'GGP', 'GHS', 'GIP', 'GMD', 'GNF', 'GTQ', 'GYD', 'HKD', 'HNL', 'HRK', 'HTG', 'HUF', 'IDR', 'ILS', 'IMP', 'INR', 'IQD', 'IRR', 'ISK', 'JEP', 'JMD', 'JOD', 'JPY', 'KES', 'KGS', 'KHR', 'KID', 'KMF', 'KRW', 'KWD', 'KYD', 'KZT', 'LAK', 'LBP', 'LKR', 'LRD', 'LSL', 'LYD', 'MAD', 'MDL', 'MGA', 'MKD', 'MMK', 'MNT', 'MOP', 'MRU', 'MUR', 'MVR', 'MWK', 'MXN', 'MYR', 'MZN', 'NAD', 'NGN', 'NIO', 'NOK', 'NPR', 'NZD', 'OMR', 'PAB', 'PEN', 'PGK', 'PHP', 'PKR', 'PLN', 'PYG', 'QAR', 'RON', 'RSD', 'RUB', 'RWF', 'SAR', 'SBD', 'SCR', 'SDG', 'SEK', 'SGD', 'SHP', 'SLE', 'SLL', 'SOS', 'SRD', 'SSP', 'STN', 'SYP', 'SZL', 'THB', 'TJS', 'TMT', 'TND', 'TOP', 'TRY', 'TTD', 'TVD', 'TWD', 'TZS', 'UAH', 'UGX', 'USD', 'UYU', 'UZS', 'VES', 'VND', 'VUV', 'WST', 'XAF', 'XCD', 'XDR', 'XOF', 'XPF', 'YER', 'ZAR', 'ZMW', 'ZWL'])

## XML (Extensible Markup Language)

### Was ist XML?
- XML ist ein textbasiertes Datenformat, das Daten in einer hierarchischen Struktur organisiert.
- Es wird häufig in älteren Systemen und für Konfigurationsdateien verwendet.
- Im Gegensatz zu JSON ist XML weniger kompakt und schwieriger zu parsen, bietet jedoch zusätzliche Features wie benutzerdefinierte Datentypen und Validierung.

### Eigenschaften von XML
1. Hierarchische Struktur:
    - Daten werden in Tags organisiert, die verschachtelt sein können.

2. Flexibilität:
    - XML erlaubt die Definition von benutzerdefinierten Tags.

3. Selbstbeschreibend:
    - Tags enthalten oft Informationen über die Art der Daten.
  
#### Einfaches XML-Dokument
```xml
<user>
  <name>Alice</name>
  <age>30</age>
  <email>alice@example.com</email>
</user>
```
`user` ist der Root-Tag, der alle andern umschließt

#### Verschachteltes XML-Dokument
```xml
<user>
  <name>Alice</name>
  <age>30</age>
  <address>
    <street>123 Main St</street>
    <city>Wonderland</city>
    <zip>12345</zip>
  </address>
</user>
```
Der Tag `address` enthält weitere Tags wie `street`, `city` und `zip`.

#### Ein XML-Dokument, das Attribute verwendet
```xml
<user name="Alice" age="30">
  <email>alice@example.com</email>
</user>
```
Anstelle von separaten Tags werden `name` und `age` als Attribute des `user`-Tags definiert.

## XML in Python
Python bietet das Modul xml.etree.ElementTree, um XML-Daten zu verarbeiten.

In [42]:
import xml.etree.ElementTree as ET

In [43]:
# XML-Parsing -> wir wandlen ein XML in Python um
xml_data = """
<user>
  <name>Alice</name>
  <age>30</age>
</user>
"""
data = ET.fromstring(xml_data)
data

In [44]:
type(data)

xml.etree.ElementTree.Element

In [46]:
data.find("name").text

'Alice'

In [47]:
print(data)

<Element 'user' at 0x104ed0b80>

In [50]:
for elem in data:
    print(elem)

<Element 'name' at 0x104ed0bd0>
<Element 'age' at 0x104ed0c20>

In [51]:
xml_data = '''
<user>
  <name>Alice</name>
  <age>30</age>
  <address>
    <street>123 Main St</street>
    <city>Wonderland</city>
    <zip>12345</zip>
  </address>
</user>
'''
data = ET.fromstring(xml_data)
for elem in data:
    print(elem)

<Element 'name' at 0x104e17970>
<Element 'age' at 0x104e179c0>
<Element 'address' at 0x104e17a10>

In [55]:
data.find('address').find('street').text

'123 Main St'

In [56]:
# ein XML Element erstellen

user = ET.Element("user")
name = ET.SubElement(user, "name")
name.text = "Alice"
age = ET.SubElement(user, "age")
age.text = "30"

xml_string = ET.tostring(user).decode()
print(xml_string)

<user><name>Alice</name><age>30</age></user>

### Vergleich von JSON und XML

| Merkmal                  | JSON                             | XML                              |
|--------------------------|----------------------------------|----------------------------------|
| **Lesbarkeit**           | Einfach und kompakt             | Weniger kompakt                  |
| **Datenstruktur**        | Key-Value-Paare und Arrays      | Hierarchisch mit Tags            |
| **Unterstützung**        | Breite Unterstützung in modernen APIs | Breite Unterstützung, aber zunehmend weniger verwendet |
| **Validierung**          | Schwach (z. B. JSON-Schema)     | Stark (z. B. DTD, XSD)           |
| **Speicherplatzbedarf**  | Gering                          | Höher durch Tags und Syntax      |

## HTTP-Methoden und CRUD-Operationen
### Was ist CRUD
CRUD steht für **Create, Read, Update und Delete**, die grundlegenden Operationen, die in RESTful APIs verwendet werden. Jede dieser Operationen wird durch spezifische HTTP-Methoden repräsentiert:

| CRUD-Operation | HTTP-Methode | Zweck                |
|----------------|--------------|----------------------|
| **Create**     | POST         | Erstellen einer Ressource |
| **Read**       | GET          | Abrufen von Ressourcen    |
| **Update**     | PUT/PATCH    | Aktualisieren einer Ressource |
| **Delete**     | DELETE       | Löschen einer Ressource   |

### CRUD-Operationen in Python mit dem Modul `requests`

#### CRUD-Operation `Read` -> `GET`
- ruft Daten von einer Ressource ab, ohne sie zu verändern
```html
GET /users HTTP/1.1
Host: jsonplaceholder.typicode.com
```

In [68]:
import requests

url = "https://jsonplaceholder.typicode.com/users"

response = requests.get(url)

response.status_code

data = response.json()
for user in data:
    print(user["name"])

Leanne Graham
Ervin Howell
Clementine Bauch
Patricia Lebsack
Chelsey Dietrich
Mrs. Dennis Schulist
Kurtis Weissnat
Nicholas Runolfsdottir V
Glenna Reichert
Clementina DuBuque

Diese Anfrage rufte eine Liste aller Benutzer ab

### CRUD-Operation `Create` -> `POST`
- Sendet Daten an den Server um eine neue Ressource zu erstellen

```html
POST /users HTTP/1.1
Host: jsonplaceholder.typicode.com
Content-Type: application/json

{
    "name": "Alice",
    "age": 30
}
```

In [80]:
new_user = {'name': 'Alice', 'age': 30}
just_for_fun = ['Helga', 'Frederik', 'Elisabeth']
response = requests.post(url, json=new_user)
if response.status_code == 201:
    print("new item successful created")
    print(response.json())

new item successful created
{'name': 'Alice', 'age': 30, 'id': 11}

In [76]:
json.dumps(just_for_fun)

'["Helga", "Frederik", "Elisabeth"]'

Diese Anfrage (Request) erstellt einen neuen Benutzer mit den angegebenen Daten

#### zusätzliches POST Beispiel
```http
  POST /posts HTTP/1.1
  Host: example.com
  Content-Type: application/json

  {
    "title": "Neuer Beitrag",
    "body": "Inhalt des Beitrags",
    "userId": 1
  }
  ```

In [81]:
new_post = {"title": "Neuer Beitrag", "body": "Inhalt des Beitrags", "userId": 1}
response = requests.post("https://jsonplaceholder.typicode.com/posts", json=new_post)
print(response.json())

{'title': 'Neuer Beitrag', 'body': 'Inhalt des Beitrags', 'userId': 1, 'id': 101}

### CRUD-Operation `Update` -> `PUT` oder `PATCH`

```http
PUT /users/1 HTTP/1.1
Host: example.com
Content-Type: application/json

{
"name": "Alice Smith",
"age": 31
}
```
oder

```http
PATCH /users/1 HTTP/1.1
Host: example.com
Content-Type: application/json

{
"name": "Alice Smith",
"age": 31
}
```

In [88]:
url = 'https://jsonplaceholder.typicode.com/users'
update_user = {"name": "Sherlock Holmes", "job": "Private Detective"}
response = requests.put(url + "/2", json=update_user)
response.json()

{'name': 'Sherlock Holmes', 'job': 'Private Detective', 'id': 2}

In [89]:
url = 'https://jsonplaceholder.typicode.com/users'
update_user = {"name": "Sherlock Holmes", "job": "Private Detective", "website": "elementary_watson.co.uk"}
response = requests.patch(url + "/2", json=update_user)
response.json()

{'id': 2,
 'name': 'Sherlock Holmes',
 'username': 'Antonette',
 'email': 'Shanna@melissa.tv',
 'address': {'street': 'Victor Plains',
  'suite': 'Suite 879',
  'city': 'Wisokyburgh',
  'zipcode': '90566-7771',
  'geo': {'lat': '-43.9509', 'lng': '-34.4618'}},
 'phone': '010-692-6593 x09125',
 'website': 'elementary_watson.co.uk',
 'company': {'name': 'Deckow-Crist',
  'catchPhrase': 'Proactive didactic contingency',
  'bs': 'synergize scalable supply-chains'},
 'job': 'Private Detective'}

`PUT` und `PATCH` aktualisieren bereits bestehende Daten, ABER mit folgenden Unterschieden:
- `PUT`-> überschreibt Daten komplett mit neuem Inhalt
- `PATCH`-> ergänzt Daten. d.H. wenn ein key bereits vorhanden ist, wird dessen Wert überschrieben, wenn nicht vorhanden, wird dieser neu angelegt.

### CRUD-Operation `Delete` -> `DELETE`

- Entfernt eine Ressource vom Server

```http
DELETE /users/1 HTTP/1.1
Host: example.com
```

In [91]:
response = requests.delete(url + "/3")
response.json()

{}

Diese Anfrage löscht den Benutzer mit der ID 3